body {
    padding-top: 70px;
}

.wheel {
    width: 100%;
    min-width: 10em;
    max-width: 20em;
    transform: rotate(-270deg);
}

#vidPlayfield {
    transform: rotate(-270deg);
    transform-origin: bottom left;
    width: auto;
    height: 90vw;
    margin-top: -100vw;
    object-fit: cover;
}

.carousel img {
    width: 100%;
}

.tooltip {
    pointer-events: none;
}